<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Awesome News</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body style="background-color: #f0f0f0;">
 
  <div style='display: flex; align-items: flex-end; justify-content: flex-end;'><sub>awesome backend</sub></div>
  